.profile-img {
  height:200px;
  width:200px;
  position: absolute;
  z-index: 200;
  left: 50%;
  margin-left: -100px;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

.profile-img-upload {
  max-height:350px;
  max-width:350px;
}


.hide-on-med-and-down{
	z-index: 2;
}

ul.editMessageButtons li{
	display: inline-block;
}
